<div class="container">
    <div class="bg-video">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="herovideo">
            <source src="../../../assets/video.mp4" type="video/mp4">
        </video>
        <div >
            <div class="vidContent">
                <h2 class="text-left">Colombia nature</h2>
                <h1 class="text-left">
                    Conoce la Colombia de <br> ensueño
                </h1>
                <a href="" id="vidBtn">Muestrame más</a>
                <a href="" id="vidBtn2">Destinos populares</a>
            </div>
        </div>
    </div>
</div>